#index {
  overflow: hidden;
  margin-bottom: 0;
  padding: 20px 3px;
  border-bottom: 1px solid #ddd;
}

#index  a {
  text-decoration: none;
  float: left;
  outline: 0;
}

#index img {
  width: 70px;
  padding-top: 10px;
}

#index div.app {
  font-family: Helvetica, sans-serif;
  height: 160px;
  width: 150px;
  text-align: center;
  padding: 13px 10px;
  margin: 0 5px;
  background: -moz-linear-gradient(90deg, #eee, #fff, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.5, #fff), to(#eee));
  border: 3px solid #e1e1e1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  -webkit-transition: -webkit-box-shadow 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  cursor: pointer;
}

#index div.app:hover {
  border-color: #e1e1e1;
  -webkit-box-shadow: #666 0px 0px 6px;
  -moz-box-shadow: #666 0px 0px 6px;
  box-shadow: #666 0px 0px 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), color-stop(0.5, #fff), to(#e1e1e1));
}

.app h2 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 0.8em;
  font-size: 17px;
}

.app h2 span {
  font-size: 17px;
  display: block;
  margin-bottom: 5px;
}

.appcontent { clear: both; }

.appcontent span {
  color: #222;
  font-weight: normal;
}

.desc { 
  font-size: 13px;
  color: #666;
  margin-top: 0;
}

.fl { float: left; }

.fr { float: right; }

.clear { clear: both; }

.feed-section { width: 50%; }

.feed-section > *,
.info-section > *  {
  padding-left: 5px;
}

.feed-section ul {
  list-style: none;
  margin-left: 0;
  color: #666;
  line-height: 1.5em;
}

.feed-section h2,
.info-section h2 {
  padding: 24px 0 7px 5px;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
}

.feed-section h2 img { vertical-align: top; }

.feed-section a[href^='http']:not([href*='html5rocks.']),
.info-section a[href^='http']:not([href*='html5rocks.']) {
  background: transparent url(data:image/png;base64,R0lGODlhCQAMAMQAAPr7/Cpdi6q/0X2duURxmjRlkfz9/vz8/TVlkae8z4+qwoWivTlplDVmkvv8/Up1nUVymvn6/LrL2i1gjStejKS6zkNwmUFvmD5slkJwmbjJ2DZnkqm90Cdbiv///wAAACH5BAEAAB4ALAAAAAAJAAwAAAU6oCeOY7R0aNoByWURQUoOMTpqD0p1Ird1hEGGJ/gVJB5Ip9gpcESYDqOD4BxEFcWkwTGMHACSeDwKAQA7) no-repeat center right;
  padding-right: 14px;
}

.info-section p {
  margin-left: 0;
  color: #666;
  line-height: 1.5em;
}

.chrome-section {
  clear: both;
  background-color: #eee;
  padding: 10px 20px;
  font-size: 13px;
  margin: 20px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#latest_articles_feed li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.madeby {
  float: right;
  width: 30%;
  margin: 0;
  text-align: right;
}
